<ion-header>
    <navigation-bar></navigation-bar>
</ion-header>
<ion-content>
    <div class="cover-wrapper">
        <div class="landing-cover"></div>
        <div class="landing-title-wrapper">
            <div class="landing-title">
                <h1>Join the Militia</h1>
                <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Can you believe that shit?</p>
                <a class="button">Join Now</a>
            </div>
        </div>
        <a data-scroll href="#fight-cover"><i class="fas fa-caret-down"></i></a>
    </div>
    <div class="cover-wrapper">
        <div id="fight-cover"></div>
        <div class="fight-title-wrapper">
            <div class="fight-title">
                <h1>Train As You Fight</h1>
                <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Can you believe that shit?</p>
                <a class="button">Learn More</a>
            </div>
        </div>
        <a data-scroll href="#prep-cover"><i class="fas fa-caret-down"></i></a>
    </div>
    <div class="cover-wrapper">
        <div id="prep-cover"></div>
        <div class="prep-title-wrapper">
            <div class="prep-title">
                <h1>Be Prepared</h1>
                <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Can you believe that shit?</p>
                <a class="button">Learn More</a>
            </div>
        </div>
    </div>
</ion-content>
<app-footer></app-footer>
