@import '../../styles.scss';

.fixed-nav {
    position: fixed;
    width: 100vw;
    background-color: $primary;
    padding: 10px 0px;

    .logo-wrapper {
        display: inline-block;
        margin-left: 100px;

        .logo {
            vertical-align: top;
            margin-right: 20px;
        }

        .page-title {
            float: right;
            color: $accent;
            font-weight: 600;
        }
    }

    .route-wrapper {
        display: inline-block;
        margin-right: 100px;
        transform: translateY(50%);
        position: absolute;
        right: 0px;
    }

    .nav-link {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;

        span {
            padding: 0px 8px;
        }
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}
