@import '../../styles.scss';

.fixed-nav {
    position: fixed;
    width: 100%;
    background-color: $primary;
    padding: 10px 0px;
    z-index: 100;
    opacity: .95;
    border-bottom: 2px solid $secondary;

    .logo-wrapper {
        display: inline-block;
        margin-left: 200px;

        .logo {
            vertical-align: top;
            margin-right: 20px;
        }

        .page-title {
            float: right;
            color: $light-grey;
            font-weight: 600;
        }
    }

    .route-wrapper {
        display: inline-block;
        margin-right: 200px;
        transform: translateY(50%);
        position: absolute;
        right: 0px;
    }

    .nav-link {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;

        span {
            padding: 0px 8px;
        }
    }

    .nav-link:hover {
        transform: translateY(-1px);
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}
