@import '../../../styles.scss';

.footer-content {
    background-color: $smoky;
    color: $white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;

    .section {
        width: 25%;
        display: inline-block;
    }

    i {
        color: $accent;
        font-size: $font-large;

        &.contact-icon {
            margin-right: 10px;
        }
    }

    p {
        margin-bottom: 10px;
    }

    .logo-wrapper {
        margin-bottom: 20px;

        .logo {
            vertical-align: top;
            margin-right: 20px;
            width: 50px;
            height: 50px;
        }

        .logo-subtitle {
            color: $white;
            font-weight: 600;
        }
    }

    .about-us-section {
        .meet {
            margin-bottom: 30px;

            p {
                width: 300px;
            }
        }

        p {
            color: $white;
            margin-top: 5px;
        }

        .contact {
            a {
                color: $white;
                font-size: $font-medium;
            }
        }
    }

    .form-section {
        p {
            margin: 0;
            margin-bottom: 10px;
        }

        .form-field {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            padding: 5px 0px 5px 5px;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $light-grey;
            opacity: 1; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $light-grey;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: $light-grey;
          }

          .contact-form {
              width: 75%;
          }
    }

    .info-section, .social-section, .form-section {
        vertical-align: top;
    }

    .footer-link {
        font-size: $font-large;
        color: $accent;
    }

    .sub-link {
        display: block;
        color: $white;
        font-size: $font-medium;
        line-height: 30px;
    }

    .copyright {
        color: $white;
        text-align: center;
    }

    .divider {
        margin: 20px 0px 20px 0px;
    }

    .button {
        width: 100%;
    }
}
